.profileData {
    margin-top: 40px;
}

.profileData .infoBlock {
    margin-top: 20px;
    margin-bottom: 0
}

.contactsBlock h3 {
    padding: 0;
    margin: 0
}

.contactsBlock li {
    margin-top: 5px;
    padding-left: 10px
}