.header {
    grid-area: h;
    background-color: rgb(58, 121, 240);
}

.header img {
    height: 100%;
}

.greetingBlock {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 200px;
    text-align: center;
}

.greetingBlock p {
    color: #ffffff
}

.greetingBlock p a {
    color: gold;
    text-decoration: none;
}



.headerBtn {
    display: inline;
    position: absolute;
    border: none;
    padding: 5px;
    top: 18px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700
}

.headerBtn:focus {
    outline: none
}

.loginBtn {
    right: 20px;
    background-color: green;
    color: #ffffff
}

.logoutBtn {
    right: 20px;
    background-color: red
}

.menuBtn {
    display: none;
    left: 20px;
    background-color: green
}

@media (max-width: 575px) {
    .menuBtn {
        display: inline
    }
}