.photoBlock {
    margin-top: 20px;
    display: block;
    width: 300px;
    box-sizing: content-box;
}

.profileImg {
    width: 100%
}

@media (max-width: 575px) {
    .photoBlock {
        width: 250px
    }
}