.post {
    margin-top: 30px
}

.postImg {
    display: inline-block;
    width: 100px;
    border-radius: 50px

}

.postText {
    margin-left: 20px;
    display: inline-block;
    color: green;
}

.likeBtn {
    display: block;
    margin-top: 10px;
    padding: 3px;
    border: none;
    border-radius: 3px;
}

.likedBtn {
    display: block;
    margin-top: 10px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: rgb(238, 46, 46);
    color: white;
}